{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Values": {
    "DBConnectionString": "{DBConnectionString}",
    "DatabaseName": "{DatabaseName}",
    "MLserviceUrl": "{MLserviceUrl}",
    "MLServiceBearerToken": "{MLServiceBearerToken}"
  }
}


