{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "Values": {
    "DBConnectionString": "{DBConnectionString}",
    "DatabaseName": "{DatabaseName}",
    "ContainerName": "Predictions",
    "LeaseContainerName": "Predictions_lease",
    "PartitionKeyName": "/id" 
  }
}
